{
  "type": "external_account",
  "audience": "${WIF_AUDIENCE}",
  "subject_token_type": "urn:ietf:params:oauth:token-type:jwt",
  "token_url": "https://sts.googleapis.com/v1/token",
  "credential_source": {
    "file": "/run/container_launcher/attestation_verifier_claims_token"
  }
}
